<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: sans-serif;">素材天国</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button is-info is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-info is-fullwidth" %>
        </div>
      </div>
    </div>
  </article>
  <div class="colums is-centered">
    <div class="column is-3">サンプルメールアドレス:user@sample.com</div>
    <div class="column is-3">サンプルパスワード:password</div>
  </div>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>

<div>
  使用Gem
  <div>devise  refile  refile-mini_magick  bulma-rails carrierwave <div>
</div>

